{% extends 'galeria/base.html'%}
{% load static %}
{% block content %}
    <section class="vh-100">
        <div class="container-fluid h-custom">
          <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-md-9 col-lg-6 col-xl-5">
              <img src="{% static 'img/logo.jpg' %}" class="img-fluid" alt="logo">
            </div>
            <div class="col-md-8 col-lg-6 col-xl-4 offset-xl-1">
              <form method="post" class="from-group">
                {% csrf_token %}
                {{form}}
                <!-- Email input -->
                <div class="form-outline mb-4">
                  <input type="email" id="form3Example3" class="form-control form-control-lg"
                    placeholder="Enter a valid email address" />
                  <label class="form-label" for="form3Example3">Email address</label>
                </div>
      
                <!-- Password input -->
                <div class="form-outline mb-3">
                  <input type="password" id="form3Example4" class="form-control form-control-lg"
                    placeholder="Enter password" />
                  <label class="form-label" for="form3Example4">Password</label>
                </div>
      
                <div class="d-flex justify-content-between align-items-center">
                  <!-- Checkbox -->
                  <div class="form-check mb-0">
                    <input class="form-check-input me-2" type="checkbox" value="" id="form2Example3" />
                    <label class="form-check-label" for="form2Example3">
                      Remember me
                    </label>
                  </div>
                  <a href="#!" class="text-body">Forgot password?</a>
                </div>
      
                <div class="text-center text-lg-start mt-4 pt-2">
                  <button type="submit" class="btn btn-success"
                    style="padding-left: 2.5rem; padding-right: 2.5rem;">Login</button>
                  <p class="small fw-bold mt-2 pt-1 mb-0">Don't have an account? <a href="{% url 'register' %}"
                      class="link-danger">Register</a></p>
                </div>
      
              </form>
            </div>
          </div>
        </div>
        
    </div>
</section>


<div class="container">
  <div class="row">
    <div class="col-md-6">
      <div style="margin-top: 230px;">
      <img src="{% static 'img/logo_de_musculo.png' %}" alt="Logo de musculo">
    </div>
    </div>
    <div class="col-md-6">
      <div class="texto">
        <div class="titulo">
        <h1>Somos da GymBro, seu serviço favorito de musculação.</h1>
    </div>
        <div clas="paragrafo">
        <p class="paragrafo">Considerando o quão desmotivador possa ser malhar,
        o <b>Gymbro</b> vem com o trabalho de <b>ajudar você</b> em sua jornada para
            uma vida mais saudável!
            <br>
            <br>
            <b>Planeje seus treinos!</b> o GymBro estará feliz em te ajudar a armazenar toda sua rotina de malhação!
            <br>
            <br>
            <b>Escolha seus exercícios!</b> o GymBro lhe dará várias opções de treino para você selecionar baseado nas suas preferências!
            <br>
            <br>
            <b>Tenha um horário de sono bem definido!</b> o GymBro te lembrará da sua rotina de sono, mantendo você ativo e cheio de energia!

            Crie sua conta e venha ser marombeiro com a gente!
    </p>
    </div>  
</div>
    </div>
  </div>
</div>
<div
  class="d-flex flex-column flex-md-row text-center text-md-start justify-content-between py-4 px-4 px-xl-5 bg-black">
  <!-- Right -->
    <div>
      <a href="#!" class="text-white me-4">
        <i class="fab fa-facebook-f"></i>
      </a>
      <a href="#!" class="text-white me-4">
        <i class="fab fa-twitter"></i>
      </a>
      <a href="#!" class="text-white me-4">
        <i class="fab fa-google"></i>
      </a>
      <a href="#!" class="text-white">
        <i class="fab fa-linkedin-in"></i>
      </a>
    </div>
    <!-- Right -->

{% endblock %}