{% extends 'galeria/base.html'%}
{% load static %}

{% block navbar %}
{% endblock %}

{% block content %}
<header>
<div class="container" id="nav-container">
  <nav id="navbar" class="navbar navbar-expand-lg fixed-top">
      <a href="{% url 'index' %}" class="navbar-brand">
        <img id="logo" src="{% static 'img/logo2.png' %}" alt="logo do produto Gym Bro"><b>Gym Bro</b>
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link text-white" href="#Login">Login</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-white" href="#Sobre">Sobre</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</div>
</header>
<section class="vh-100">
<div id="Login">
 <div style="padding-bottom: 150px " class="container-fluid h-custom">
   <div class="row d-flex justify-content-center align-items-center h-100">
    
     <div class="col-md-9 col-lg-6 col-xl-5">
       <img src="{% static 'img/bro.gif' %}" width="40%" height="40%" style="margin-left: 300px;" class="img-fluid" alt="img de garota">
     </div>
     <div class="col-md-8 col-lg-6 col-xl-4 offset-xl-1">
       {% if messages %}
       <ul class="messages">
         {% for message in messages %}
         <li{% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}</li>
           {% endfor %}
       </ul>
       {% endif %}
       <form method="post" class="form-group" action="{% url 'index' %}">
         {% csrf_token %}
         <h1><b>Faça seu login!</b></h1>
         {{ form.as_p }}
         <div class="text-center text-lg-start mt-4 pt-2">
           <button type="submit" class="btn btn-success"
             style="padding-left: 2.5rem; padding-right: 2.5rem;">Login</button>
           <p class="small fw-bold mt-2 pt-1 mb-0">Não tem conta?  <a style ="color: #32CD32" href="{% url 'register' %}"
               >Junte-se a nós!</a></p>
         </div>
       </form>
     </div>
    
   </div>
 </div>
</div>
</section>



<div id="Sobre">
  <div class="container">
    <div class="row" style="margin-top: -50px;">
      <div class="col-md-6">
        <div style="margin-top: 230px;">
          <img src="{% static 'img/carlos png boy 03(1).png' %}" alt="img de garoto">


     </div>
   </div>
   <div class="col-md-6">
     <div class="texto">
       <div class="titulo">


         <h1> <b style="color: #32CD32" ;>Revolucione sua maneira de treinar.</b></h1>
       </div>
       <div clas="paragrafo">
         <p class="paragrafo">Considerando o quão desmotivador possa ser malhar,
           o <b>Gymbro</b> vem com o trabalho de <b>ajudar você</b> em sua jornada para
           uma vida mais saudável!
           <br>
           <br>
           <b>Planeje seus treinos!</b> o GymBro estará feliz em te ajudar a armazenar toda sua rotina de malhação!
           <br>
           <br>
           <b>Escolha seus exercícios!</b> o GymBro lhe dará várias opções de treino para você selecionar baseado nas
           suas preferências!
           <br>
           <br>
           <b>Tenha um horário de sono bem definido!</b> o GymBro te lembrará da sua rotina de sono, mantendo você
           ativo e cheio de energia!


           Crie sua conta e venha ser marombeiro com a gente!
         </p>
        </div>
      </div>
    </div>
  </div>
  </div>
</div>
<script>
  // Função para manipular o scroll ao clicar no link do navbar
  function scrollToElement(elementId, offset) {
    const element = document.getElementById(elementId);
    if (element) {
      const elementPosition = element.getBoundingClientRect().top;
      const offsetPosition = elementPosition - offset;

      window.scrollTo({
        top: offsetPosition,
        behavior: "smooth",
      });
    }
  }


  document.addEventListener("DOMContentLoaded", function () {
    const loginLink = document.querySelector('a[href="#Login"]');
    const sobreLink = document.querySelector('a[href="#Sobre"]');

    loginLink.addEventListener("click", function (event) {
      event.preventDefault();
      scrollToElement("Login", 100);
    });

    sobreLink.addEventListener("click", function (event) {
      event.preventDefault();
      scrollToElement("Sobre", 100);
    });
  });
</script>


 {% endblock %}