{% extends 'galeria/base.html'%}
{% load static %}
{% block content %}

<div class="container">
    <div class="row">
      <div class="col-md-6">
        <p>How many kgs do you want to lift?</p>
      </div>
      <div class="col-md-6">
        <select class="form-select" aria-label="Weight in kgs">
        <option selected>Select weight</option>
        <option value="30">30kgs</option>
        <option value="35">35kgs</option>
        <option value="40">40kgs</option>
        <option value="45">45kgs</option>
        <option value="50">50kgs</option>
        <option value="55">55kgs</option>
        <option value="60">60kgs</option>
        <option value="65">65kgs</option>
        <option value="70">70kgs</option>
        <option value="75">75kgs</option>
        </select>
      </div>
    </div>
  </div>

  
  {% endblock %}