{% extends 'galeria/base.html' %}
{% load static %}
{% block content %}
<style>
  table {
    border-collapse: collapse;
    width: 100%;
    }
    
  th, td {
    border: 1px solid black;
    padding: 12px;
    text-align: center;
    }
    
  th {
    background-color: #4CAF50;
    color: white;
    }
    
  tr:nth-child(even) {
    background-color: black;
    }
    
  td input[type="text"] {
    width: 100%;
    border: none;
    }
    
  td input[type="text"]:focus {
    outline: none;
    }

  label {
    display: block;
    margin-bottom: 10px;
  }

  input[type="time"] {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
  }
  
  .meus-planejamentos {
    background-color: #4CAF50; 
    border: none; 
    color: black; 
    padding: 10px 20px; 
    text-align: center; 
    text-decoration: none; 
    display: inline-block; 
    font-size: 16px; 
    border-radius: 5px; 
    cursor: pointer; 
  }
</style>

<form method="POST" action="{% url 'planejamento' %}">
  {% csrf_token %}
  <table>
    <thead>
      <tr>
        <th>Dia da semana</th>
        <th>Horários</th>
        <th>Confirmar</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Segunda-feira</td>
        <td><input type="time" name="segunda_horario1"></td>
        <td><button type="submit" name="confirmar_segunda1" value="segunda_horario1">Confirmar</button></td>
      </tr>
      <tr>
        <td>Terça-feira</td>
        <td><input type="time" name="terca_horario1"></td>
        <td><button type="submit" name="confirmar_terca1" value="terca_horario1">Confirmar</button></td>
      </tr>
      <tr>
        <td>Quarta-feira</td>
        <td><input type="time" name="quarta_horario1"></td>
        <td><button type="submit" name="confirmar_quarta1" value="quarta_horario1">Confirmar</button></td>
      </tr>
      <tr>
        <td>Quinta-feira</td>
        <td><input type="time" name="quinta_horario1"></td>
        <td><button type="submit" name="confirmar_quinta1" value="quinta_horario1">Confirmar</button></td>
      </tr>
      <tr>
        <td>Sexta-feira</td>
        <td><input type="time" name="sexta_horario1"></td>
        <td><button type="submit" name="confirmar_sexta1" value="sexta_horario1">Confirmar</button></td>
      </tr>
      <tr>
        <td>Sábado</td>
        <td><input type="time" name="sabado_horario1"></td>
        <td><button type="submit" name="confirmar_sabado1" value="sabado_horario1">Confirmar</button></td>
      </tr>
      <tr>
        <td>Domingo</td>
        <td><input type="time" name="domingo_horario1"></td>
        <td><button type="submit" name="confirmar_domingo1" value="domingo_horario1">Confirmar</button></td>
      </tr>
    </tbody>
  </table>
</form>


<br>
<center>
  <button class="meus-planejamentos" type="button">Meus planejamentos</button>
</center>



{% endblock %}