{% extends 'galeria/base.html' %}
{% load static %}
{% block content %}
<style>
   table {
        border-collapse: collapse;
        width: 100%;
      }
      
    th, td {
        border: 1px solid black;
        padding: 12px;
        text-align: center;
      }
      
    th {
        background-color: #4CAF50;
        color: white;
      }
      
    tr:nth-child(even) {
        background-color: black;
      }
      
    td input[type="text"] {
        width: 100%;
        border: none;
      }
      
    td input[type="text"]:focus {
        outline: none;
      }
    /* Adicione mais estilos de acordo com suas necessidades */
    </style>
<body>
  <table>
    <tr>
      <th>Dia da semana</th>
      <th>Horários</th>
    </tr>
    <tr>
      <td>Segunda-feira</td>
      <td><input type="text" placeholder="Horário 1"></td>
    </tr>
    <tr>
      <td>Terça-feira</td>
      <td><input type="text" placeholder="Horário 1"></td>
    </tr>
    <tr>
      <td>Quarta-feira</td>
      <td><input type="text" placeholder="Horário 1"></td>
    </tr>
    <tr>
      <td>Quinta-feira</td>
      <td><input type="text" placeholder="Horário 1"></td>
    </tr>
    <tr>
      <td>Sexta-feira</td>
      <td><input type="text" placeholder="Horário 1"></td>
    </tr>
    <tr>
      <td>Sábado</td>
      <td><input type="text" placeholder="Horário 1"></td>
    </tr>
    <tr>
      <td>Domingo</td>
      <td><input type="text" placeholder="Horário 1"></td>
    </tr>
  </table>
</body>

{% endblock %}