{% extends 'galeria/base.html' %}
{% load static %}
{% block content %}
<style>
  table {
    border-collapse: collapse;
    width: 100%;
  }
    
  th, td {
    border: 1px solid black;
    padding: 12px;
    text-align: center;
    }
    
  th {
    background-color: #32CD32;
    color: white;
    }
    
  tr:nth-child(even) {
    background-color: black;
    }
    
  td input[type="text"] {
    width: 100%;
    border: none;
    }
    
  td input[type="text"]:focus {
    outline: none;
    }

  label {
    display: block;
    margin-bottom: 10px;
  }

  input[type="time"] {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
  }

  .planejamento-item {
  padding: 10px;
  margin-bottom: 5px;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0,0,0,0.3);
  width: 20pc;
}

.planejamento-item p {
  color:  #32CD32;
  font-size: 14px;
  margin-bottom: 0;
}
</style>

{% if error_message %}
<div class="error_message">
  {{ error_message }} 
</div>
{% endif %}

<form method="POST", action="">
  {% csrf_token %}
  <table>
    <thead>
      <tr>
        <th>Dia da semana</th>
        <th>Horário</th>
        <th>Tipo de treino</th>
        <th>Confirmar</th> 
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Segunda-feira</td>
        <td><input type="time" name="segunda_horario1" value="{{planejamento.segunda_horario1 }}"></td>
        <td><div class="rectangle">
          <input type="radio" id="perna_segunda" name="segunda_tipo" value="perna">
          <label style = "color : #000000"for="perna_segunda">Perna</label>
          <input type="radio" id="peito_segunda" name="segunda_tipo" value="peito">
          <label style = "color : #000000"for="peito_segunda">Peito</label>
          <input type="radio" id="costas_segunda" name="segunda_tipo" value="costas">
          <label style = "color : #000000" for="costas_segunda">Costas</label>
        </div>
        </td>
        <td><button type="submit" name="confirmar_segunda1" value="segunda_horario1">Confirmar</button></td>
      </tr>
      <tr>
        <td>Terça-feira</td>
        <td><input type="time" name="terca_horario1" value="{{ planejamento.terca_horario1 }}"></td>
        <td><div class="rectangle">
          <input type="radio" id="perna_terca" name="terca_tipo" value="perna">
          <label style = "color : #000000"for="perna_terca">Perna</label>
          <input type="radio" id="peito_terca" name="terca_tipo" value="peito">
          <label style = "color : #000000"for="peito_terca">Peito</label>
          <input type="radio" id="costas_terca" name="terca_tipo" value="costas">
          <label style = "color : #000000" for="costas_terca">Costas</label>
        </div>
        </td>
        <td><button type="submit" name="confirmar_terca1" value="terca_horario1">Confirmar</button></td>
      </tr>
      <tr>
        <td>Quarta-feira</td>
        <td><input type="time" name="quarta_horario1" value="{{ planejamento.quarta_horario1 }}"></td>
        <td><div class="rectangle">
          <input type="radio" id="perna_quarta" name="quarta_tipo" value="perna">
          <label style = "color : #000000"for="perna_quarta">Perna</label>
          <input type="radio" id="peito_quarta" name="quarta_tipo" value="peito">
          <label style = "color : #000000"for="peito_quarta">Peito</label>
          <input type="radio" id="costas_quarta" name="quarta_tipo" value="costas">
          <label style = "color : #000000" for="costas_quarta">Costas</label>
        </div>
        </td>
        <td><button type="submit" name="confirmar_quarta1" value="quarta_horario1">Confirmar</button></td>
      </tr>
      <tr>
        <td>Quinta-feira</td>
        <td><input type="time" name="quinta_horario1" value="{{ planejamento.quinta_horario1 }}"></td>
        <td><div class="rectangle">
          <input type="radio" id="perna_quinta" name="quinta_tipo" value="perna">
          <label style = "color : #000000"for="perna_quinta">Perna</label>
          <input type="radio" id="peito_quinta" name="quinta_tipo" value="peito">
          <label style = "color : #000000"for="peito_quinta">Peito</label>
          <input type="radio" id="costas_quinta" name="quinta_tipo" value="costas">
          <label style = "color : #000000" for="costas_tipo">Costas</label>
        </div>
        </td>
        <td><button type="submit" name="confirmar_quinta1" value="quinta_horario1">Confirmar</button></td>
      </tr>
      <tr>
        <td>Sexta-feira</td>
        <td><input type="time" name="sexta_horario1" value="{{ planejamento.sexta_horario1 }}"></td>
        <td><div class="rectangle">
          <input type="radio" id="perna_sexta" name="sexta_tipo" value="perna">
          <label style = "color : #000000"for="perna_sexta">Perna</label>
          <input type="radio" id="peito_sexta" name="sexta_tipo" value="peito">
          <label style = "color : #000000"for="peito_sexta">Peito</label>
          <input type="radio" id="costas_sexta" name="sexta_tipo" value="costas">
          <label style = "color : #000000" for="costas_sexta">Costas</label>
        </div>
        </td>
        <td><button type="submit" name="confirmar_sexta1" value="sexta_horario1">Confirmar</button></td>
      </tr>
      <tr>
        <td>Sábado</td>
        <td><input type="time" name="sabado_horario1" value="{{ planejamento.sabado_horario1 }}"></td>

        <td><div class="rectangle">
          <input type="radio" id="perna_sabado" name="sabado_tipo" value="perna">
          <label style = "color : #000000"for="perna_sabado">Perna</label>
          <input type="radio" id="peito_sabado" name="sabado_tipo" value="peito">
          <label style = "color : #000000"for="peito_sabado">Peito</label>
          <input type="radio" id="costas_sabado" name="sabado_tipo" value="costas">
          <label style = "color : #000000" for="costas_sabado">Costas</label>
        </div>
        </td>
        <td><button type="submit" name="confirmar_sabado1" value="sabado_horario1">Confirmar</button></td>
      </tr>
      <tr> 
        <td>Domingo</td>
        <td><input type="time" name="domingo_horario1" value="{{ planejamento.domingo_horario1 }}"></td>
        <td><div class="rectangle">
          <input type="radio" id="perna_domingo" name="domingo_tipo" value="perna">
          <label style = "color : #000000"for="perna_domingo">Perna</label>
          <input type="radio" id="peito_domingo" name="domingo_tipo" value="peito">
          <label style = "color : #000000"for="peito_domingo">Peito</label>
          <input type="radio" id="costas_domingo" name="domingo_tipo" value="costas">
          <label style = "color : #000000" for="costas_domingo">Costas</label>
        </div>
        </td>
        <td><button type="submit" name="confirmar_domingo1" value="domingo_horario1">Confirmar</button></td>
      </tr>
    </tbody>
  </table>
</form>
<br>

<h1><b>Treinos pendentes</b></h1>
{% for planejamento in planejamentos %}
<div class="planejamento-item">
  <form method="POST" action="{% url 'remove_workout' planejamento.id %}">
    {% csrf_token %}
    <p>{{ planejamento.dia_semana }} - {{ planejamento.horario }} - {{planejamento.tipo}}</p>
    <input id="remove-{{ planejamento.id }}" type="submit" value="Finalizar treino">
    <input type="hidden" name="treino_confirmado_id" value="{{ planejamento.id }}">
  </form>
</div>
<br>
{% endfor %}

{% endblock %}