{% extends 'galeria/base.html' %}
{% load static %}
{% block content %}

<style>
    .botao {
  display: inline-block;
  background-color: #4CAF50; /* cor de fundo */
  color: white; /* cor do texto */
  padding: 12px 24px; /* espaçamento interno */
  border: none; /* borda */
  border-radius: 4px; /* arredondamento das bordas */
  font-size: 16px; /* tamanho da fonte */
  cursor: pointer; /* cursor do mouse */
  text-decoration: none; /* sublinhado do texto */
}

h1 {
  font-size: 36px;
  font-weight: bold;
  text-align: center;
  color: #F2F2F2;
}

.subtitulo{
  font-size: 16px;
  line-height: 1.5;
  margin-bottom: 20px;
  color: #F2F2F2;
}

h2 {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
  color: #F2F2F2;
}

label {
  display: inline-block;
  font-weight: bold;
  margin-bottom: 5px;
}
</style>


  <div style="text-align: center;">
      <h1>Monitoramento do seu sono</h1>
      <p class="subtitulo">como melhorar o acompanhamento do seu sono</p>
  </div>
  <br>
  <br>
  <form method="POST" action="">
      {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Enviar</button>
</form>
  


{% endblock %}