{% extends 'galeria/base.html' %}
{% load static %}
{% block content %}


<div style="text-align: center;">
   <h1><b>Monitoramento do seu sono</b></h1>
   <p class="subtitulo">como melhorar o acompanhamento do seu sono</p>
</div>


<br><br>

<form method="POST" action="">
   {% csrf_token %}
   {{ form.as_p }}
   <button type="submit">Enviar</button>
</form>

{% if sono.dormiu and sono.acordou %}
<div style="text-align: center; padding-top:50px ">
   <p><b style = "color : #32CD32">No momento, você está tendo {{sono.total_sono}} hora(s) de sono</b> </p>
<div style="text-align: center;">
   <p><b style = "color : #32CD32"> Da última vez você dormiu as {{ sono.dormiu }} e acordou as {{ sono.acordou }}</b> </p>
</div>
{% endif %}


<style>
   div {
       text-align: center;
   }
   .subtitulo {
       font-size: 20px;
   }
</style>


{% endblock %}
