{% extends 'galeria/base.html'%}
{% load static %}
{% block content %}

<style>
.exercise-box{background-color: #F2F2F2;
   padding: 10px;
   border-radius: 5px;
   box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
   margin-bottom: 10px;
   font-size: 18px;
   font-weight: bold;
   color: #333;}
</style>

{% if exercises %}

  {% if error_message %}
  <div class="error_message" name="error_message">
    {{ error_message }} 
  </div>
  {% endif %}

    <table>
      <thead>
        <tr>
          <th>Exercícios</th>
          <th>Séries</th>
          <th>Repetições</th>
          <th>Descanso</th>
          <th>Peso</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        {% for exercise in exercises %}
          <tr>
            <td id="exercise {{exercise.name}}">{{ exercise.name }}</td>
            <td>{{ exercise.sets }}</td>
            <td>{{ exercise.reps }}</td>
            <td>{{ exercise.rest }}</td>
            <td>
              <form method="post" action="">
                {% csrf_token %}
                <label for="peso_ex_{{ exercise.pk }}">Peso: </label>
                <input id="{{ exercise.name }}" type="text" name="peso_ex_{{ exercise.pk }}" value="{{ exercise.weight }}">
                <input type="submit" value="OK" name="OK-{{ exercise.name }}-button">    
              </form>
              </td>
              <td>
              <form method="post" action="{% url 'execucao' exercise_id=exercise.id %}">
                {% csrf_token %}
                <button type="submit" name="{{ exercise.name }} button">video</button>
              </form>
              </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  {% else %}
    <p>No exercises found.</p>
  {% endif %}

{% endblock %}
