{% extends 'galeria/base.html'%}
{% load static %}
{% block content %}

<style>
.exercise-box{background-color: #F2F2F2;
   padding: 10px;
   border-radius: 5px;
   box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
   margin-bottom: 10px;
   font-size: 18px;
   font-weight: bold;
   color: #333;}
</style>

{% if exercises %}
    <table>
      <thead>
        <tr>
          <th>Exercise</th>
          <th>Sets</th>
          <th>Reps</th>
          <th>Rest</th>
          <th>Weight</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        {% for exercise in exercises %}
          <tr>
            <td>{{ exercise.name }}</td>
            <td>{{ exercise.sets }}</td>
            <td>{{ exercise.reps }}</td>
            <td>{{ exercise.rest }}</td>
            <td>
              <form method="post" action="">
                {% csrf_token %}
                <label for="peso_ex_{{ exercise.pk }}">Weight: </label>
                <input id="peso_ex_{{ exercise.pk }}" type="text" name="peso_ex_{{ exercise.pk }}" value="{{ exercise.weight }}">
                <input type="submit" value="OK">
              </form>
              </td>
              <td>
              <form method="post" action="{% url 'execução' exercise_id=exercise.id %}">
                {% csrf_token %}
                <button type="submit">video</button>
              </form>
              </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  {% else %}
    <p>No exercises found.</p>
  {% endif %}

{% endblock %}
