{% extends 'galeria/base.html'%}
{% load static %}
{% block content %}


<style>
  .customizar a {
  text-decoration: none;
}

.customizar button {
  background-color: #4CAF50;
  border: none;
  color: black;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 4px;
}

.customizar button:hover {
  background-color: #45a049;
}

.customizar button:active {
  background-color: #3e8e41;
}
</style>

<div class="row row-cols-2 g-3">
  <div class="col">
    {% for treino in cards %}
    <div class="card">
      <a href="{% url 'treino_selecionado2' treino.grupo %}" class="navbar-brand" name="link-{{ treino.nome_treino}}">
        <div class="card-body">
          <h5 class="card-title" id="Treine" name="{{ treino.nome_treino }}">{{treino.nome_treino}}</h5>
        </div>
      </a>
    </div>
    {% empty %}
    <p>No cards to display.</p>
    {% endfor %}
  </div>
</div>

<!--objetivo-->
<div style="position: absolute; top: 150px; right: 100px;">
  <p>
    <b style="color:#2bff00">Seu objetivo atual:</b>
    {% if user_objective.selected_objective == 'hipertrofia' %}
        <h1 style="color:#ffffff;">Hipertrofia</h1>
    {% elif user_objective.selected_objective == 'resistencia' %}
        <h1 style="color:#ffffff;">Resistência</h1>
    {% elif user_objective.selected_objective == 'forca' %}
        <h1 style="color:#ffffff;">Força</h1>
    {% endif %}
  </p>
  <form action="{% url 'treinos' %}" method="post">
    {% csrf_token %}
    <h1><b>Escolha seu objetivo:</b></h1>
    <div class="form-check">
      <input class="form-check-input" type="radio" name="objetivo" id="hipertrofia" value="hipertrofia">
      <label class="form-check-label" for="hipertrofia">
        Hipertrofia
      </label>
    </div>
    <div class="form-check">
      <input class="form-check-input" type="radio" name="objetivo" id="resistencia" value="resistencia">
      <label class="form-check-label" for="resistencia">
        Resistência
      </label>
    </div>
    <div class="form-check">
      <input class="form-check-input" type="radio" name="objetivo" id="forca" value="forca">
      <label class="form-check-label" for="forca">
        Força
      </label>
    </div>
    <button type="submit" class="btn btn-primary">Selecionar</button>
  </form>
</div>
<br>
<br>
<br>
<br>
<div>
</div>

<center>
  <div class="customizar">
    <a href="{% url 'customizar' %}"><button>Customize seus treinos</button></a>
  </div>
</center>





{% endblock %}