{% extends 'galeria/base.html'%}
{% load static %}
{% block content %}

<h1 style="padding-left: 50px";><b>treinos</b></h1><br>
<div class="row row-cols-2 g-3" >
  <div class="col">
    {% if cards %}
    {% for treino in cards %}
    <div class="card">      
      <a href="{% url 'treino_selecionado2' treino.grupo %}" class="navbar-brand">
        <img class="card-img-top" src="{{treino.foto.url}}"  alt="imagem de um supino" />
        <div class="card-body"> 
          <h5 class="card-title" id="Treine">{{treino.nome_treino}}</h5>
        </div>
      </a>
    </div>
    {% endfor %}
    {% else %}
    {% endif %}
  </div>
</div>
{% endblock %}