{% extends 'galeria/base.html'%}
{% load static %}
{% block content %}

    <div class="exercise-box">Agachamento</div>
    <div class="exercise-box">Flexão de braço</div>
    <div class="exercise-box">Abdominal</div>
    <div class="exercise-box">Corrclassa</div>
    <div class="exercise-box">Bicicleta</div>
    <div class="exercise-box">Prancha</div>
    <div class="exercise-box">Puxada na barra</div>
    <div class="exercise-box">Levantamento de peso</div>
    <div class="exercise-box">Caminhada</div>
    <div class="exercise-box">Pular corda</div>

   
{% endblock %}