{% extends 'galeria/base.html'%}
{% load static %}
{% block content %}

<style>
.exercise-box{background-color: #F2F2F2;
   padding: 10px;
   border-radius: 5px;
   box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
   margin-bottom: 10px;
   font-size: 18px;
   font-weight: bold;
   color: #333;}
</style>


<table style="border-collapse: collapse; width: 100%;">
    <tr style="background-color: #f2f2f2;">
        <th style="border: 1px solid #ddd; padding: 8px;">Exercício</th>
        <th style="border: 1px solid #ddd; padding: 8px;">Número de Série</th>
        <th style="border: 1px solid #ddd; padding: 8px;">Número de Repetições</th>
        <th style="border: 1px solid #ddd; padding: 8px;">Tempo de Descanso</th>
        <th style="border: 1px solid #ddd; padding: 8px;">Carga</th>
    </tr>

    {% if exercises %}
    {% for exercise in exercises %}

    <tr>
        <td style="border: 1px solid #ddd; padding: 8px;">{{ exercise.name }}</td>
        <td style="border: 1px solid #ddd; padding: 8px;">{{ exercise.sets }}</td>
        <td style="border: 1px solid #ddd; padding: 8px;">{{ exercise.reps }}</td>
        <td style="border: 1px solid #ddd; padding: 8px;">{{ exercise.rest }}</td>
        <td style="border: 1px solid #ddd; padding: 8px;">{{ exercise.weight }}</td>
    </tr>

    {% endfor %}

    {% else %}
        <li>Opção inválida.</li>
    {% endif %}

{% endblock %}
<!--

<!DOCTYPE html>
<html>
<head>
    <title>Treino de {{ option }}</title>
</head>
<body>
    <h1>Treino de {{ option }}</h1>
    <ul>
    {% if exercises %}
        {% for exercise in exercises %}
            <li>{{ exercise.name }}</li>
        {% empty %}
            <li>Nenhum exercício encontrado.</li>
        {% endfor %}
    {% else %}
        <li>Opção inválida.</li>
    {% endif %}
    </ul>
</body>
</html>

-->
